h1 {
    color: aliceblue;
    font-weight: bold;
}
img{
    width: 100%;
    height: auto;
}
p{
color: aliceblue;
}
a{
    background-color: red;
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    background-color: red;
    color: aliceblue;
    border: 2px solid white;
}